@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');
@import 'employee';

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box !important;
    padding: 0px;
    margin: 0px;
}

button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;

    div {
        font-weight: 600;

    }
}

div {
    font-size: 0.95rem;
}

.container {
    display: grid;
    grid-template-columns: min-content auto;
}

.workster-logo {
    width: 36px;
}

nav {
    height: 100vh;
    width: max-content;
    padding: 32px 16px 24px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ccc;

    .workster-logo {
        margin: 0 0 40px 0;
    }

    .section-title {
        margin: 0 0 12px 8px;
        color: #aaa;
        font-size: 0.9rem;
    }

    .bottom-section {
        align-self: flex-end;
    }

    .nav-section {
        &:last-child {
            margin-top: 24px;
        }
    }

    .nav-item {
        width: 100%;
        margin: 8px 0;
        padding: 16px 60px 16px 32px;
        display: flex;
        align-items: center;
        border-radius: 24px;
        cursor: pointer;
        transition: 0.1s ease-out;
        transform: translateX(-24px);

        p,
        span {
            color: #777;
        }

        &:hover,
        &:focus {
            background: #eee;

            p,
            span {
                color: #555;
            }
        }

        &.active {
            background: #000;

            p,
            span {
                color: #fff;
            }
        }

        img {
            height: 1rem;
        }


        p {
            font-size: 0.95rem;
            font-weight: 500;
        }

        span.material-symbols-outlined {
            padding: 0 18px 0 0;
            font-size: 1.1rem;
            font-weight: 500;
        }
    }
}

.content {
    justify-self: center;
    max-width: 100rem;
    margin-bottom: 5rem;
    padding: 16px 48px;
    display: flex;
    flex-direction: column;

    button {
        height: min-content;
        font-weight: 500;
        background: #eee;
        padding: 10px 12px;
        border-radius: 16px;
        font-size: 0.8rem;
        column-gap: 4px;
        transition: 0.1s ease-out;

        span {
            font-size: 1.1rem;
        }
    }

    @media (min-device-aspect-ratio: 21 / 9) {
        padding: 16px 10rem;
    }
}

.header {
    &-container {
        height: min-content;
        width: 100%;
        display: flex;
        justify-content: space-between;

        button {
            background: #eee;
        }
    }

    &-right {
        height: 34px;
        display: flex;
        align-items: center;
        column-gap: 12px;

        .job-btn {
            background: #10cf66;
            color: #fff;
        }

        .notification-btn {
            position: relative;
            background: none;
        }

        .notification-dot {
            height: 4px;
            width: 4px;
            background-color: #10cf66;
            border-radius: 50%;
            position: absolute;
            right: 6px;
            top: 2px;
        }

        img {
            height: 32px;
        }
    }
}

.employee {
    &-header {
        margin: 48px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &-details {
        display: grid;
        column-gap: 12px;
        row-gap: 8px;
        grid-template-areas:
            "name name"
            "company title"
        ;

        &-wrapper {
            display: flex;
            align-items: center;
            column-gap: 16px;
        }
    }

    &-actions {
        display: flex;
        column-gap: 12px;
    }

    &-company {
        color: #333;
        font-weight: 500;
        grid-area: company;
    }

    &-name {
        font-weight: 700;
        font-size: 1.5rem;
        grid-area: name;
    }

    &-title {
        grid-area: title;
    }
}

hr {
    border: none;
    border-top: 1px solid #e5e5e5;
}

.tabs {
    margin: 60px 0 0px 0;
    display: flex;
    column-gap: 12px;

    button {
        padding: 10px 16px;
        background: #fff;
        color: #777;
        border-radius: 24px;

        &:hover {
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
            color: #333;
        }

        &.active,
        &:active {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);

            span,
            div {
                color: #000
            }
        }

        div {
            font-weight: 700;
            font-size: 0.85rem;
        }
    }
}

.section-title {
    margin: 48px 0 0px 0;
    font-size: 1.25rem;
    font-weight: 800;
}

.bio {
    margin-top: 20px;
    line-height: 1.5;
    grid-area: about-bio;
}


.about-tab {
    display: flex;
    column-gap: 40px;
}

.summary {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 24px 28px;
    border-radius: 12px;
    background: #f8f7fc;

    .salary {
        font-weight: 700;
        font-size: 1.1rem;
    }

    .summary-details {
        margin-top: 12px;
        display: grid;
        grid-template-areas:
            "section-icon section-value"
            "section-icon section-category"
        ;
        justify-content: start;
        column-gap: 12px;

        &-icon {
            height: 44px;
            width: 44px;
            padding-bottom: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ddd;
            border-radius: 50%;
            grid-area: section-icon;

            span {
                font-size: 1.3rem;
            }
        }

        &-value {
            font-weight: 700;
            font-size: 0.9rem;
            grid-area: section-value;
        }

        &-category {
            color: #777;
            font-size: 0.8rem;
            grid-area: section-category;
        }
    }

    &-text {
        margin-top: 16px;
        max-width: 260px;
        color: #777;
        line-height: 1.5;
        font-size: 0.85rem;
    }
}