@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");
.experience .work {
  margin-top: 40px;
  display: grid;
  grid-template-areas: "work-icon work-title work-title" "work-icon work-subtitle work-duration" "work-icon work-desc work-desc";
  column-gap: 12px;
  row-gap: 8px;
  grid-template-columns: 48px auto auto;
}

.experience .work-icon {
  width: 48px;
  height: 48px;
  padding-bottom: 1px;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: work-icon;
}

.experience .work-title {
  grid-area: work-title;
  font-weight: 700;
  font-size: 0.95rem;
}

.experience .work-subtitle {
  display: flex;
  column-gap: 6px;
  grid-area: work-subtitle;
}

.experience .work-subtitle div {
  font-size: 0.9rem;
}

.experience .work-subtitle .work-divider {
  font-size: 1.3rem;
  line-height: 0.75;
  font-weight: 800 !important;
}

.experience .work-location {
  grid-area: work-location;
}

.experience .work-company {
  grid-area: work-company;
}

.experience .work-duration {
  justify-self: flex-end;
  align-self: flex-end;
  grid-area: work-duration;
  font-weight: 800;
}

.experience .work-desc {
  margin-top: 6px;
  color: #999;
  line-height: 1.5;
  font-weight: 500;
  font-size: 0.9rem;
  grid-area: work-desc;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box !important;
  padding: 0px;
  margin: 0px;
}

button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

button div {
  font-weight: 600;
}

div {
  font-size: 0.95rem;
}

.container {
  display: grid;
  grid-template-columns: min-content auto;
}

.workster-logo {
  width: 36px;
}

nav {
  height: 100vh;
  width: max-content;
  padding: 32px 16px 24px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #ccc;
}

nav .workster-logo {
  margin: 0 0 40px 0;
}

nav .section-title {
  margin: 0 0 12px 8px;
  color: #aaa;
  font-size: 0.9rem;
}

nav .bottom-section {
  align-self: flex-end;
}

nav .nav-section:last-child {
  margin-top: 24px;
}

nav .nav-item {
  width: 100%;
  margin: 8px 0;
  padding: 16px 60px 16px 32px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.1s ease-out;
  transform: translateX(-24px);
}

nav .nav-item p,
nav .nav-item span {
  color: #777;
}

nav .nav-item:hover, nav .nav-item:focus {
  background: #eee;
}

nav .nav-item:hover p,
nav .nav-item:hover span, nav .nav-item:focus p,
nav .nav-item:focus span {
  color: #555;
}

nav .nav-item.active {
  background: #000;
}

nav .nav-item.active p,
nav .nav-item.active span {
  color: #fff;
}

nav .nav-item img {
  height: 1rem;
}

nav .nav-item p {
  font-size: 0.95rem;
  font-weight: 500;
}

nav .nav-item span.material-symbols-outlined {
  padding: 0 18px 0 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.content {
  justify-self: center;
  max-width: 100rem;
  margin-bottom: 5rem;
  padding: 16px 48px;
  display: flex;
  flex-direction: column;
}

.content button {
  height: min-content;
  font-weight: 500;
  background: #eee;
  padding: 10px 12px;
  border-radius: 16px;
  font-size: 0.8rem;
  column-gap: 4px;
  transition: 0.1s ease-out;
}

.content button span {
  font-size: 1.1rem;
}

@media (min-device-aspect-ratio: 21 / 9) {
  .content {
    padding: 16px 10rem;
  }
}

.header-container {
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-container button {
  background: #eee;
}

.header-right {
  height: 34px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.header-right .job-btn {
  background: #10cf66;
  color: #fff;
}

.header-right .notification-btn {
  position: relative;
  background: none;
}

.header-right .notification-dot {
  height: 4px;
  width: 4px;
  background-color: #10cf66;
  border-radius: 50%;
  position: absolute;
  right: 6px;
  top: 2px;
}

.header-right img {
  height: 32px;
}

.employee-header {
  margin: 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-details {
  display: grid;
  column-gap: 12px;
  row-gap: 8px;
  grid-template-areas: "name name" "company title";
}

.employee-details-wrapper {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.employee-actions {
  display: flex;
  column-gap: 12px;
}

.employee-company {
  color: #333;
  font-weight: 500;
  grid-area: company;
}

.employee-name {
  font-weight: 700;
  font-size: 1.5rem;
  grid-area: name;
}

.employee-title {
  grid-area: title;
}

hr {
  border: none;
  border-top: 1px solid #e5e5e5;
}

.tabs {
  margin: 60px 0 0px 0;
  display: flex;
  column-gap: 12px;
}

.tabs button {
  padding: 10px 16px;
  background: #fff;
  color: #777;
  border-radius: 24px;
}

.tabs button:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  color: #333;
}

.tabs button.active, .tabs button:active {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.tabs button.active span,
.tabs button.active div, .tabs button:active span,
.tabs button:active div {
  color: #000;
}

.tabs button div {
  font-weight: 700;
  font-size: 0.85rem;
}

.section-title {
  margin: 48px 0 0px 0;
  font-size: 1.25rem;
  font-weight: 800;
}

.bio {
  margin-top: 20px;
  line-height: 1.5;
  grid-area: about-bio;
}

.about-tab {
  display: flex;
  column-gap: 40px;
}

.summary {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 24px 28px;
  border-radius: 12px;
  background: #f8f7fc;
}

.summary .salary {
  font-weight: 700;
  font-size: 1.1rem;
}

.summary .summary-details {
  margin-top: 12px;
  display: grid;
  grid-template-areas: "section-icon section-value" "section-icon section-category";
  justify-content: start;
  column-gap: 12px;
}

.summary .summary-details-icon {
  height: 44px;
  width: 44px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  grid-area: section-icon;
}

.summary .summary-details-icon span {
  font-size: 1.3rem;
}

.summary .summary-details-value {
  font-weight: 700;
  font-size: 0.9rem;
  grid-area: section-value;
}

.summary .summary-details-category {
  color: #777;
  font-size: 0.8rem;
  grid-area: section-category;
}

.summary-text {
  margin-top: 16px;
  max-width: 260px;
  color: #777;
  line-height: 1.5;
  font-size: 0.85rem;
}
/*# sourceMappingURL=style.css.map */