@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");
nav {
  height: 100vh;
  width: max-content;
  padding: 32px 0 24px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  z-index: 90;
  transition: 0s ease;
}

@media (max-width: 1000px) {
  nav {
    position: absolute;
    transform: translateX(-100%);
  }
}

nav.hidden {
  animation: slide-in 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

nav.active {
  display: flex;
  animation: slide-out 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

nav .workster-logo {
  margin: 0 0 40px 0;
}

nav .section-title {
  margin: 0 0 12px 8px;
  color: #aaa;
  font-size: 0.9rem;
}

nav .bottom-section {
  align-self: flex-end;
}

nav .nav-section:last-child {
  margin-top: 24px;
}

nav .nav-item {
  width: 100%;
  margin: 8px 0;
  padding: 16px 60px 16px 32px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.1s ease-out;
  transform: translateX(-24px);
}

nav .nav-item p,
nav .nav-item span {
  color: #777;
}

nav .nav-item:hover, nav .nav-item:focus {
  background: #eee;
}

nav .nav-item:hover p,
nav .nav-item:hover span, nav .nav-item:focus p,
nav .nav-item:focus span {
  color: #555;
}

nav .nav-item.active, nav .nav-item:active, nav .nav-item:focus {
  background: #000;
}

nav .nav-item.active p,
nav .nav-item.active span, nav .nav-item:active p,
nav .nav-item:active span, nav .nav-item:focus p,
nav .nav-item:focus span {
  color: #fff;
}

nav .nav-item img {
  height: 1rem;
}

nav .nav-item p {
  font-size: 0.95rem;
  font-weight: 500;
}

nav .nav-item span.material-symbols-outlined {
  padding: 0 18px 0 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.experience .work {
  margin-top: 40px;
  display: grid;
  grid-template-areas: "work-icon work-title work-title" "work-icon work-subtitle work-duration" "work-icon work-desc work-desc";
  column-gap: 12px;
  row-gap: 8px;
  grid-template-columns: 48px minmax(160px, 9999px) 90px;
}

.experience .work-icon {
  width: 48px;
  height: 48px;
  padding-bottom: 1px;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: work-icon;
}

.experience .work-title {
  grid-area: work-title;
  font-weight: 700;
  font-size: 0.95rem;
}

.experience .work-subtitle {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  grid-area: work-subtitle;
}

.experience .work-subtitle div {
  font-size: 0.9rem;
}

.experience .work-subtitle .work-divider {
  font-size: 1.3rem;
  line-height: 0.75;
  font-weight: 800 !important;
}

.experience .work-location {
  grid-area: work-location;
}

.experience .work-company {
  grid-area: work-company;
}

.experience .work-duration {
  justify-self: flex-end;
  align-self: flex-end;
  grid-area: work-duration;
  font-weight: 800;
}

.experience .work-desc {
  margin-top: 6px;
  color: #999;
  line-height: 1.5;
  font-weight: 500;
  font-size: 0.9rem;
  grid-area: work-desc;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box !important;
  padding: 0px;
  margin: 0px;
}

#root {
  overflow-y: hidden;
  overflow-x: hidden;
}

button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

button div {
  font-weight: 600;
}

div {
  font-size: 0.9rem;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
}

.workster-logo {
  width: 36px;
}

.content {
  justify-self: center;
  max-height: 100vh;
  padding: 16px 72px;
  padding-bottom: 6rem !important;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@media (min-aspect-ratio: 21 / 9) {
  .content {
    padding: 16px 20rem;
  }
}

@media (max-width: 720px) {
  .content {
    padding: 16px 40px;
  }
}

@media (max-width: 540px) {
  .content {
    padding: 16px 20px;
    flex-direction: column;
  }
}

.content button {
  height: min-content;
  font-weight: 500;
  background: #eee;
  padding: 10px 12px;
  border-radius: 16px;
  font-size: 0.8rem;
  column-gap: 4px;
  transition: 0.1s ease-out;
}

.content button span {
  font-size: 1.1rem;
}

.header-container {
  height: min-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-container div {
  font-size: 0.85rem !important;
}

.header-container button {
  background: #eee;
}

.header-container button span {
  font-weight: 600;
  padding-bottom: 1px;
}

.header-left {
  display: flex;
  column-gap: 8px;
}

.header-left .nav-btn {
  display: none;
}

@media (max-width: 1000px) {
  .header-left .nav-btn {
    display: block;
  }
  .header-left button {
    display: none;
  }
}

.header-right {
  height: 34px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.header-right .job-btn {
  background: #10cf66;
  color: #fff;
}

.header-right .notification-btn {
  position: relative;
  background: none;
}

.header-right .notification-dot {
  height: 4px;
  width: 4px;
  background-color: #10cf66;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 6px;
}

.header-right img {
  height: 32px;
}

.employee-header {
  margin: 48px 0;
  display: flex;
  row-gap: 20px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 540px) {
  .employee-header {
    flex-direction: column;
  }
}

.employee-img {
  grid-area: image;
}

.employee-details {
  display: grid;
  column-gap: 12px;
  row-gap: 8px;
  grid-template-areas: "image name name" "image company title";
}

@media (max-width: 540px) {
  .employee-details {
    row-gap: 8px;
    grid-template-areas: "image image" "name name" "company title";
    justify-items: center;
  }
  .employee-img {
    margin-bottom: 12px;
    width: 75%;
  }
  .employee-actions {
    margin-top: 12px;
  }
}

.employee-actions {
  display: flex;
  column-gap: 12px;
}

.employee-actions div {
  font-size: 0.85rem !important;
}

.employee-company {
  color: #333;
  font-weight: 500;
  grid-area: company;
}

.employee-name {
  font-weight: 700;
  font-size: 1.5rem;
  grid-area: name;
}

.employee-title {
  grid-area: title;
}

hr {
  border: none;
  border-top: 1px solid #e5e5e5;
}

.tabs {
  width: max-content;
  max-width: calc(100vw - 60px);
  margin: 42px 0 8px 0;
  display: grid;
  column-gap: 12px;
  overflow-x: auto;
  overflow-y: auto;
}

.tabs button {
  padding: 10px 16px;
  display: flex;
  background: #fff;
  color: #777;
  border-radius: 24px;
}

.tabs button div {
  width: 100%;
}

.tabs button:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  color: #333;
}

.tabs button.active, .tabs button:active {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.tabs button.active span,
.tabs button.active div, .tabs button:active span,
.tabs button:active div {
  color: #000;
}

.tabs button div {
  font-weight: 700;
  font-size: 0.85rem;
}

.section-title {
  margin: 48px 0 0px 0;
  font-size: 1.25rem;
  font-weight: 800;
}

.bio {
  margin-top: 20px;
  line-height: 1.5;
  grid-area: about-bio;
}

.about-tab {
  display: flex;
  column-gap: 40px;
}

@media (max-width: 720px) {
  .about-tab {
    flex-direction: column;
  }
}

.summary {
  margin: 48px 0 0 0;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 24px 28px;
  border-radius: 12px;
  background: #f8f7fc;
}

.summary .salary {
  font-weight: 700;
  font-size: 1.1rem;
}

.summary .summary-details {
  margin-top: 12px;
  display: grid;
  grid-template-areas: "section-icon section-value" "section-icon section-category";
  justify-content: start;
  column-gap: 12px;
}

.summary .summary-details-icon {
  height: 44px;
  width: 44px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  grid-area: section-icon;
}

.summary .summary-details-icon span {
  font-size: 1.3rem;
}

.summary .summary-details-value {
  font-weight: 700;
  font-size: 0.9rem;
  grid-area: section-value;
}

.summary .summary-details-category {
  color: #777;
  font-size: 0.8rem;
  grid-area: section-category;
}

.summary-text {
  margin-top: 16px;
  min-width: 200px;
  color: #777;
  line-height: 1.5;
  font-size: 0.85rem;
}
/*# sourceMappingURL=style.css.map */